USE [master]
GO
/****** Object:  Database [CinemaManagement]    Script Date: 2023-10-07 12:04:19 AM ******/
CREATE DATABASE [CinemaManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CinemaManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CinemaManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CinemaManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CinemaManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CinemaManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CinemaManagement]
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDBRA]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDBRA]()
RETURNS NCHAR(10)
AS
BEGIN
	DECLARE @ID NCHAR(10)
	IF (SELECT COUNT(idBra)
	FROM BRANCH) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(idBra, 8))
	FROM BRANCH
	SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'BR0000000' + CONVERT(NCHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'BR000000' + CONVERT(NCHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDFAC]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDFAC]()
RETURNS NCHAR(10)
AS
BEGIN
	DECLARE @ID NCHAR(10)
	IF (SELECT COUNT(idFac)
	FROM FACILITIES) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(idFac, 8))
	FROM FACILITIES
	SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'FT0000000' + CONVERT(NCHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'FT000000' + CONVERT(NCHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDMV]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDMV]()
RETURNS NCHAR(10)
AS
BEGIN
	DECLARE @ID NCHAR(10)
	IF (SELECT COUNT(idMovie)
	FROM MOVIE) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(idMovie, 8))
	FROM MOVIE
	SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'MV0000000' + CONVERT(NCHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'MV000000' + CONVERT(NCHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDPOS]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDPOS]()
RETURNS NCHAR(10)
AS
BEGIN
	DECLARE @ID NCHAR(10)
	IF (SELECT COUNT(idPos)
	FROM POSITION) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(idPos, 8))
	FROM POSITION
	SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'PS0000000' + CONVERT(NCHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'PS000000' + CONVERT(NCHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDRM]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDRM]()
RETURNS NCHAR(10)
AS
BEGIN
	DECLARE @ID NCHAR(10)
	IF (SELECT COUNT(idRoom)
	FROM ROOM) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(idRoom, 8))
	FROM ROOM
	SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'RM0000000' + CONVERT(NCHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'RM000000' + CONVERT(NCHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDST]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDST]()
RETURNS NCHAR(10)
AS
BEGIN
	DECLARE @ID NCHAR(10)
	IF (SELECT COUNT(idST)
	FROM SHOWTIME) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(idST, 8))
	FROM SHOWTIME
	SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'ST0000000' + CONVERT(NCHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'ST000000' + CONVERT(NCHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDSTAFF]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDSTAFF]()
RETURNS NCHAR(10)
AS
BEGIN
	DECLARE @ID NCHAR(10)
	IF (SELECT COUNT(idStaff)
	FROM STAFF) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(idStaff, 8))
	FROM STAFF
	SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'SF0000000' + CONVERT(NCHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'SF000000' + CONVERT(NCHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDTIC]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDTIC]()
RETURNS NCHAR(10)
AS
BEGIN
	DECLARE @ID NCHAR(10)
	IF (SELECT COUNT(idTic)
	FROM TICKET) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(idTic, 8))
	FROM TICKET
	SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'TK0000000' + CONVERT(NCHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'TK000000' + CONVERT(NCHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  Table [dbo].[MOVIE]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIE](
	[idMovie] [nchar](10) NOT NULL,
	[nameMovie] [nvarchar](100) NOT NULL,
	[proCountry] [nvarchar](20) NOT NULL,
	[preDate] [date] NOT NULL,
	[director] [nvarchar](100) NOT NULL,
	[actor] [nvarchar](100) NOT NULL,
	[genre] [nvarchar](100) NOT NULL,
	[idStatus] [int] NOT NULL,
	[img] [text] NOT NULL,
	[duration] [int] NOT NULL,
	[describe] [nvarchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idMovie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOWTIME]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOWTIME](
	[idST] [nchar](10) NOT NULL,
	[idMovie] [nchar](10) NOT NULL,
	[idTic] [nchar](10) NOT NULL,
	[idStatus] [int] NOT NULL,
	[showDateTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_SHOWTIME_MOVIE]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_SHOWTIME_MOVIE]
AS 
      SELECT ST.showDateTime, ST.idST, ST.idMovie, ST.idStatus, MV.duration
	  FROM SHOWTIME AS ST INNER JOIN MOVIE AS MV ON ST.idMovie = MV.idMovie
GO
/****** Object:  Table [dbo].[BRANCH]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRANCH](
	[idBra] [nchar](10) NOT NULL,
	[nameBra] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idBra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACILITIES]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACILITIES](
	[idFac] [nchar](10) NOT NULL,
	[nameFac] [nvarchar](30) NOT NULL,
	[idRoom] [nchar](10) NOT NULL,
	[img] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idFac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HIS_FAC]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HIS_FAC](
	[idFac] [nchar](10) NOT NULL,
	[dateHis] [datetime] NOT NULL,
	[idStatus] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORY]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORY](
	[idST] [nchar](10) NOT NULL,
	[idRoom] [nchar](10) NOT NULL,
	[dateHis] [datetime] NOT NULL,
	[timeHis] [varchar](10) NOT NULL,
	[idStatus] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSITION]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSITION](
	[idPos] [nchar](10) NOT NULL,
	[namePos] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROOM]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOM](
	[idRoom] [nchar](10) NOT NULL,
	[nameRoom] [nvarchar](20) NOT NULL,
	[idStatus] [int] NOT NULL,
	[img] [text] NOT NULL,
	[idBra] [nchar](10) NOT NULL,
	[note] [nvarchar](1000) NULL,
	[capacity] [int] NULL,
	[row] [int] NULL,
	[col] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idRoom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEAT]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEAT](
	[idSeat] [int] NOT NULL,
	[idRow] [char](1) NOT NULL,
	[idRoom] [nchar](10) NOT NULL,
	[idStatus] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[idStaff] [nchar](10) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[dateBirth] [date] NOT NULL,
	[email] [varchar](50) NOT NULL,
	[citiIden] [char](12) NOT NULL,
	[phone] [char](12) NOT NULL,
	[address] [nvarchar](50) NOT NULL,
	[sex] [bit] NOT NULL,
	[idStatus] [int] NOT NULL,
	[pass] [varchar](200) NOT NULL,
	[idBra] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[idStaff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF_POS]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF_POS](
	[idPos] [nchar](10) NOT NULL,
	[idStaff] [nchar](10) NOT NULL,
	[dayPro] [datetime] NOT NULL,
	[timePro] [varchar](10) NOT NULL,
	[idStatus] [int] NOT NULL,
	[idBra] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUS]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS](
	[idStatus] [int] NOT NULL,
	[nameStatus] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICKET]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET](
	[idTic] [nchar](10) NOT NULL,
	[nameTic] [nvarchar](20) NOT NULL,
	[price] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BRANCH] ([idBra], [nameBra]) VALUES (N'BR00000001', N'Chi nhánh 1')
INSERT [dbo].[BRANCH] ([idBra], [nameBra]) VALUES (N'BR00000002', N'Chi nhánh 2')
INSERT [dbo].[BRANCH] ([idBra], [nameBra]) VALUES (N'BR00000003', N'Chi nhánh 3')
GO
INSERT [dbo].[HISTORY] ([idST], [idRoom], [dateHis], [timeHis], [idStatus]) VALUES (N'ST00000002', N'RM00000001', CAST(N'2023-07-25T13:21:29.383' AS DateTime), N' 1:21PM', 1)
INSERT [dbo].[HISTORY] ([idST], [idRoom], [dateHis], [timeHis], [idStatus]) VALUES (N'ST00000001', N'RM00000002', CAST(N'2023-07-25T13:50:01.467' AS DateTime), N' 1:50PM', 0)
INSERT [dbo].[HISTORY] ([idST], [idRoom], [dateHis], [timeHis], [idStatus]) VALUES (N'ST00000004', N'RM00000002', CAST(N'2023-07-25T14:34:31.930' AS DateTime), N' 2:34PM', 1)
GO
INSERT [dbo].[MOVIE] ([idMovie], [nameMovie], [proCountry], [preDate], [director], [actor], [genre], [idStatus], [img], [duration], [describe]) VALUES (N'MV00000001', N'NHIỆM VỤ BẤT KHẢ THI', N'Mỹ', CAST(N'2023-07-23' AS Date), N'Christopher McQuarrie', N'Tom Cruise, Rebecca Ferguson, Vanessa Kirby', N'Hành Động, Phiêu Lưu', 1, N'https://i.ibb.co/LgWB1DG/700x1000-7.jpg', 125, N'Phần phim thứ 7 của loạt phim Nhiệm Vụ Bất Khả Thi')
GO
INSERT [dbo].[POSITION] ([idPos], [namePos]) VALUES (N'PS00000001', N'Admin')
INSERT [dbo].[POSITION] ([idPos], [namePos]) VALUES (N'PS00000002', N'Quản lý')
INSERT [dbo].[POSITION] ([idPos], [namePos]) VALUES (N'PS00000003', N'Nhân viên')
GO
INSERT [dbo].[ROOM] ([idRoom], [nameRoom], [idStatus], [img], [idBra], [note], [capacity], [row], [col]) VALUES (N'RM00000001', N'Phòng số 01', 1, N'https://i.ibb.co/4wkT5d9/download-3.jpg', N'BR00000001', NULL, NULL, NULL, NULL)
INSERT [dbo].[ROOM] ([idRoom], [nameRoom], [idStatus], [img], [idBra], [note], [capacity], [row], [col]) VALUES (N'RM00000002', N'Phòng số 02', 1, N'https://i.ibb.co/WDSZ6PR/images.jpg', N'BR00000001', NULL, NULL, NULL, NULL)
INSERT [dbo].[ROOM] ([idRoom], [nameRoom], [idStatus], [img], [idBra], [note], [capacity], [row], [col]) VALUES (N'RM00000003', N'Phòng số 03', 1, N'https://i.ibb.co/zFSMYnZ/download-4.jpg', N'BR00000001', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[SEAT] ([idSeat], [idRow], [idRoom], [idStatus]) VALUES (1, N'A', N'RM00000001', 1)
INSERT [dbo].[SEAT] ([idSeat], [idRow], [idRoom], [idStatus]) VALUES (2, N'A', N'RM00000001', 1)
INSERT [dbo].[SEAT] ([idSeat], [idRow], [idRoom], [idStatus]) VALUES (3, N'A', N'RM00000001', 1)
GO
INSERT [dbo].[SHOWTIME] ([idST], [idMovie], [idTic], [idStatus], [showDateTime]) VALUES (N'ST00000001', N'MV00000006', N'TK00000001', 0, CAST(N'2023-07-25T17:10:00.000' AS DateTime))
INSERT [dbo].[SHOWTIME] ([idST], [idMovie], [idTic], [idStatus], [showDateTime]) VALUES (N'ST00000002', N'MV00000002', N'TK00000001', 3, CAST(N'2023-07-25T10:50:00.000' AS DateTime))
INSERT [dbo].[SHOWTIME] ([idST], [idMovie], [idTic], [idStatus], [showDateTime]) VALUES (N'ST00000003', N'MV00000004', N'TK00000001', 3, CAST(N'2023-07-25T13:00:00.000' AS DateTime))
GO
INSERT [dbo].[STAFF] ([idStaff], [name], [dateBirth], [email], [citiIden], [phone], [address], [sex], [idStatus], [pass], [idBra]) VALUES (N'SF00000001', N'Thuy Trang', CAST(N'2023-07-20' AS Date), N'lethithuytrang20070805@gmail.com', N'060301012077', N'+84923122952', N'97 Man Thien, Hiep Phu', 1, 1, N'$2a$10$eIv1Ghy4u6Tb4G0v3YQgyubVelAYRCb9lZQF2qajdjffSKA6QoCSO', NULL)
INSERT [dbo].[STAFF] ([idStaff], [name], [dateBirth], [email], [citiIden], [phone], [address], [sex], [idStatus], [pass], [idBra]) VALUES (N'SF00000002', N'Thuy Trang', CAST(N'2005-11-20' AS Date), N'lethithuytrang10072001@gmail.com', N'100000001212', N'+84917057613', N'Duc Long', 1, 1, N'$2a$10$UdeyQ8SSVI1cxXVyw0HKwOttabo.Ym/zr8ec2bexapndA6WawEC5G', N'BR00000003')
INSERT [dbo].[STAFF] ([idStaff], [name], [dateBirth], [email], [citiIden], [phone], [address], [sex], [idStatus], [pass], [idBra]) VALUES (N'SF00000003', N'Lê Thị Thùy Trang', CAST(N'2001-07-10' AS Date), N'myloveisyoona530@gmail.com', N'1413525526  ', N'+84917057613', N'97 Man Thien, Hiep Phu', 1, 1, N'$2a$10$Uvq2UOyV4OFhqZGAVqdWPOPDtYcUGSr0tRMvicYXgZ03yRWig0Rd2', N'BR00000001')
GO
INSERT [dbo].[STAFF_POS] ([idPos], [idStaff], [dayPro], [timePro], [idStatus], [idBra]) VALUES (N'PS00000001', N'SF00000001', CAST(N'2023-07-12T00:00:00.000' AS DateTime), N'12:12AM', 1, N'BR00000001')
INSERT [dbo].[STAFF_POS] ([idPos], [idStaff], [dayPro], [timePro], [idStatus], [idBra]) VALUES (N'PS00000002', N'SF00000002', CAST(N'2023-07-12T00:00:00.000' AS DateTime), N'12:12AM', 1, N'BR00000001')
INSERT [dbo].[STAFF_POS] ([idPos], [idStaff], [dayPro], [timePro], [idStatus], [idBra]) VALUES (N'PS00000003', N'SF00000003', CAST(N'2023-08-10T16:00:27.137' AS DateTime), N' 4:00PM', 2, N'BR00000001')
GO
INSERT [dbo].[STATUS] ([idStatus], [nameStatus]) VALUES (0, N'Khóa(Nhân viên) , Ngừng chiếu(Phim), Đã hủy(Lịch chiếu-Lịch sử), Hỏng(Phòng-Ghế)')
INSERT [dbo].[STATUS] ([idStatus], [nameStatus]) VALUES (1, N'Đang hoạt động(Nhân viên), Đang chiếu(Lịch chiếu-Phim), Đã đặt(Lịch sử), Ổn(Phòng-Ghế)')
INSERT [dbo].[STATUS] ([idStatus], [nameStatus]) VALUES (2, N'Sắp chiếu(Lịch chiếu), Chưa cấp(Nhân viên-Lịch sử)')
GO
INSERT [dbo].[TICKET] ([idTic], [nameTic], [price]) VALUES (N'TK00000001', N'Thông thường', 60000)
INSERT [dbo].[TICKET] ([idTic], [nameTic], [price]) VALUES (N'TK00000002', N'Cuối tuần', 95000)
INSERT [dbo].[TICKET] ([idTic], [nameTic], [price]) VALUES (N'TK00000003', N'Lễ ', 125000)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uc_seatId]    Script Date: 2023-10-07 12:04:19 AM ******/
ALTER TABLE [dbo].[SEAT] ADD  CONSTRAINT [uc_seatId] UNIQUE NONCLUSTERED 
(
	[idSeat] ASC,
	[idRow] ASC,
	[idRoom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BRANCH] ADD  CONSTRAINT [DF_BRANCH_idBra]  DEFAULT ([dbo].[AUTO_IDBRA]()) FOR [idBra]
GO
ALTER TABLE [dbo].[FACILITIES] ADD  CONSTRAINT [DF_FACILITIES_idFac]  DEFAULT ([dbo].[AUTO_IDFAC]()) FOR [idFac]
GO
ALTER TABLE [dbo].[HIS_FAC] ADD  CONSTRAINT [DF__HIS_FAC__dateHis__48CFD27E]  DEFAULT (getdate()) FOR [dateHis]
GO
ALTER TABLE [dbo].[HISTORY] ADD  CONSTRAINT [DF__HISTORY__dateHis__48CFD27E]  DEFAULT (getdate()) FOR [dateHis]
GO
ALTER TABLE [dbo].[HISTORY] ADD  DEFAULT (right(CONVERT([varchar],getdate(),(100)),(7))) FOR [timeHis]
GO
ALTER TABLE [dbo].[MOVIE] ADD  CONSTRAINT [DF_MOVIE_idMovie]  DEFAULT ([dbo].[AUTO_IDMV]()) FOR [idMovie]
GO
ALTER TABLE [dbo].[POSITION] ADD  CONSTRAINT [DF_POSITION_idPos]  DEFAULT ([dbo].[AUTO_IDPOS]()) FOR [idPos]
GO
ALTER TABLE [dbo].[ROOM] ADD  CONSTRAINT [DF_ROOM_idRoom]  DEFAULT ([dbo].[AUTO_IDRM]()) FOR [idRoom]
GO
ALTER TABLE [dbo].[SHOWTIME] ADD  CONSTRAINT [DF_SHOWTIME_idST]  DEFAULT ([dbo].[AUTO_IDST]()) FOR [idST]
GO
ALTER TABLE [dbo].[STAFF] ADD  CONSTRAINT [DF_STAFF_idStaff]  DEFAULT ([dbo].[AUTO_IDSTAFF]()) FOR [idStaff]
GO
ALTER TABLE [dbo].[STAFF_POS] ADD  CONSTRAINT [DF__STAFF_POS__dayPro__48CFD27E]  DEFAULT (getdate()) FOR [dayPro]
GO
ALTER TABLE [dbo].[STAFF_POS] ADD  DEFAULT (right(CONVERT([varchar],getdate(),(100)),(7))) FOR [timePro]
GO
ALTER TABLE [dbo].[TICKET] ADD  CONSTRAINT [DF_TICKET_idTic]  DEFAULT ([dbo].[AUTO_IDTIC]()) FOR [idTic]
GO
ALTER TABLE [dbo].[FACILITIES]  WITH CHECK ADD FOREIGN KEY([idRoom])
REFERENCES [dbo].[ROOM] ([idRoom])
GO
ALTER TABLE [dbo].[HIS_FAC]  WITH CHECK ADD FOREIGN KEY([idFac])
REFERENCES [dbo].[FACILITIES] ([idFac])
GO
ALTER TABLE [dbo].[HIS_FAC]  WITH CHECK ADD FOREIGN KEY([idStatus])
REFERENCES [dbo].[STATUS] ([idStatus])
GO
ALTER TABLE [dbo].[HISTORY]  WITH CHECK ADD FOREIGN KEY([idRoom])
REFERENCES [dbo].[ROOM] ([idRoom])
GO
ALTER TABLE [dbo].[HISTORY]  WITH CHECK ADD FOREIGN KEY([idST])
REFERENCES [dbo].[SHOWTIME] ([idST])
GO
ALTER TABLE [dbo].[HISTORY]  WITH CHECK ADD FOREIGN KEY([idStatus])
REFERENCES [dbo].[STATUS] ([idStatus])
GO
ALTER TABLE [dbo].[MOVIE]  WITH CHECK ADD FOREIGN KEY([idStatus])
REFERENCES [dbo].[STATUS] ([idStatus])
GO
ALTER TABLE [dbo].[ROOM]  WITH CHECK ADD FOREIGN KEY([idBra])
REFERENCES [dbo].[BRANCH] ([idBra])
GO
ALTER TABLE [dbo].[ROOM]  WITH CHECK ADD FOREIGN KEY([idStatus])
REFERENCES [dbo].[STATUS] ([idStatus])
GO
ALTER TABLE [dbo].[SEAT]  WITH CHECK ADD FOREIGN KEY([idRoom])
REFERENCES [dbo].[ROOM] ([idRoom])
GO
ALTER TABLE [dbo].[SEAT]  WITH CHECK ADD FOREIGN KEY([idStatus])
REFERENCES [dbo].[STATUS] ([idStatus])
GO
ALTER TABLE [dbo].[SHOWTIME]  WITH CHECK ADD FOREIGN KEY([idMovie])
REFERENCES [dbo].[MOVIE] ([idMovie])
GO
ALTER TABLE [dbo].[SHOWTIME]  WITH CHECK ADD FOREIGN KEY([idStatus])
REFERENCES [dbo].[STATUS] ([idStatus])
GO
ALTER TABLE [dbo].[SHOWTIME]  WITH CHECK ADD FOREIGN KEY([idTic])
REFERENCES [dbo].[TICKET] ([idTic])
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD FOREIGN KEY([idBra])
REFERENCES [dbo].[BRANCH] ([idBra])
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD FOREIGN KEY([idStatus])
REFERENCES [dbo].[STATUS] ([idStatus])
GO
ALTER TABLE [dbo].[STAFF_POS]  WITH CHECK ADD FOREIGN KEY([idBra])
REFERENCES [dbo].[BRANCH] ([idBra])
GO
ALTER TABLE [dbo].[STAFF_POS]  WITH CHECK ADD FOREIGN KEY([idPos])
REFERENCES [dbo].[POSITION] ([idPos])
GO
ALTER TABLE [dbo].[STAFF_POS]  WITH CHECK ADD FOREIGN KEY([idStatus])
REFERENCES [dbo].[STATUS] ([idStatus])
GO
ALTER TABLE [dbo].[STAFF_POS]  WITH CHECK ADD FOREIGN KEY([idStaff])
REFERENCES [dbo].[STAFF] ([idStaff])
GO
/****** Object:  StoredProcedure [dbo].[SP_CHART_ROOM ]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHART_ROOM ]
  @Month INT,
  @Year INT,
  @Key INT
AS
BEGIN
  -- Tạo bảng tạm để lưu trữ kết quả
  CREATE TABLE #TempResult (ScheduleDate DATE, CanceledSchedulesCount INT)

  -- Biến ngày đầu và ngày cuối của tháng
  DECLARE @StartDate DATE, @EndDate DATE
  SET @StartDate = DATEFROMPARTS(@Year, @Month, 1)
  SET @EndDate = DATEADD(DAY, -1, DATEADD(MONTH, 1, @StartDate))

  -- Biến dùng để lặp qua các ngày trong tháng
  DECLARE @CurrentDate DATE
  SET @CurrentDate = @StartDate

  -- Lặp qua các ngày trong tháng và tính số lượng lịch chiếu bị hủy cho từng ngày
  IF @key = 1
  BEGIN
	  WHILE @CurrentDate <= @EndDate
	  BEGIN
		INSERT INTO #TempResult (ScheduleDate, CanceledSchedulesCount)
		SELECT @CurrentDate, COUNT(*) AS CanceledSchedulesCount
		FROM HISTORY
		WHERE CAST(dateHis AS DATE) = @CurrentDate AND idStatus = 1;

		SET @CurrentDate = DATEADD(DAY, 1, @CurrentDate)
	  END
  END
  ELSE
  BEGIN
  	  WHILE @CurrentDate <= @EndDate
	  BEGIN
		INSERT INTO #TempResult (ScheduleDate, CanceledSchedulesCount)
		SELECT @CurrentDate, COUNT(*) AS CanceledSchedulesCount
		FROM HISTORY
		WHERE CAST(dateHis AS DATE) = @CurrentDate AND idStatus = 0;

		SET @CurrentDate = DATEADD(DAY, 1, @CurrentDate)
	  END
  END

  -- Trả về kết quả từ bảng tạm
  SELECT CanceledSchedulesCount
  FROM #TempResult

  -- Xóa bảng tạm sau khi sử dụng xong
  DROP TABLE #TempResult

END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHART_SHOWTIME]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHART_SHOWTIME]
  @Month INT,
  @Year INT,
  @Key INT
AS
BEGIN
  -- Tạo bảng tạm để lưu trữ kết quả
  CREATE TABLE #TempResult (ScheduleDate DATE, CanceledSchedulesCount INT)

  -- Biến ngày đầu và ngày cuối của tháng
  DECLARE @StartDate DATE, @EndDate DATE
  SET @StartDate = DATEFROMPARTS(@Year, @Month, 1)
  SET @EndDate = DATEADD(DAY, -1, DATEADD(MONTH, 1, @StartDate))

  -- Biến dùng để lặp qua các ngày trong tháng
  DECLARE @CurrentDate DATE
  SET @CurrentDate = @StartDate

  -- Lặp qua các ngày trong tháng và tính số lượng lịch chiếu bị hủy cho từng ngày
  IF @key = 1
  BEGIN
	  WHILE @CurrentDate <= @EndDate
	  BEGIN
		INSERT INTO #TempResult (ScheduleDate, CanceledSchedulesCount)
		SELECT @CurrentDate, COUNT(*) AS CanceledSchedulesCount
		FROM SHOWTIME
		WHERE CAST(showDateTime AS DATE) = @CurrentDate AND (idStatus = 1 OR idStatus = 3);

		SET @CurrentDate = DATEADD(DAY, 1, @CurrentDate)
	  END
  END
  ELSE
  BEGIN
  	  WHILE @CurrentDate <= @EndDate
	  BEGIN
		INSERT INTO #TempResult (ScheduleDate, CanceledSchedulesCount)
		SELECT @CurrentDate, COUNT(*) AS CanceledSchedulesCount
		FROM SHOWTIME
		WHERE CAST(showDateTime AS DATE) = @CurrentDate AND idStatus = 0;

		SET @CurrentDate = DATEADD(DAY, 1, @CurrentDate)
	  END
  END

  -- Trả về kết quả từ bảng tạm
  SELECT CanceledSchedulesCount
  FROM #TempResult

  -- Xóa bảng tạm sau khi sử dụng xong
  DROP TABLE #TempResult

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_LIST_BRANCH]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_GET_LIST_BRANCH]
	@keyword NVARCHAR(100)
AS
BEGIN
	/*IF @keyword = null
	BEGIN 
		SELECT *
		FROM BRANCH
	END
	ELSE
	BEGIN
		SELECT *
		FROM BRANCH AS b
		WHERE (b.nameBra LIKE '%' + @keyword + '%'
			   OR b.idBra LIKE '%' + @keyword + '%')
	END	*/
	SELECT *
	FROM BRANCH AS b
	WHERE (b.nameBra LIKE '%' + @keyword + '%'
		OR b.idBra LIKE '%' + @keyword + '%')
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_LIST_SHOWTIME]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[SP_GET_LIST_SHOWTIME]
	@key Bit,
	@start Datetime, 
	@end Datetime,
	@keyword Nvarchar(100)
AS
BEGIN
	--Update status showtime
    UPDATE V_SHOWTIME_MOVIE
    SET idStatus = 
        CASE 
            WHEN GETDATE() BETWEEN showDateTime  AND (DATEADD(MINUTE, duration + 15, showDateTime))  AND idStatus != 0 THEN 1 -- Đang chiếu
			WHEN GETDATE() < showDateTime AND idStatus != 0 THEN 2 -- Sắp chiếu			
			WHEN GETDATE() >  (DATEADD(MINUTE, duration + 15, showDateTime)) AND idStatus != 0 THEN 3 -- Đã chiếu
			ELSE 0 --Đã hủy
        END;

	-- Select list showtime in day
	IF @key = 0
	BEGIN
	SELECT ST.idST, ST.idTic, ST.idMovie, ST.idStatus,MV.nameMovie, MV.img, MV.duration, RM.nameRoom,RM.idRoom, RM.idStatus AS statusRoom, TK.nameTic,ST.showDateTime
    FROM SHOWTIME AS ST
      INNER JOIN MOVIE AS MV ON ST.idMovie = MV.idMovie
      INNER JOIN TICKET AS TK ON ST.idTic = TK.idTic
      INNER JOIN HISTORY AS HT ON ST.idST = HT.idST 
      INNER JOIN ROOM AS RM ON HT.idRoom = RM.idRoom 
    WHERE (ST.idST LIKE '%' + @keyword + '%' OR RM.nameRoom LIKE '%' + @keyword + '%'
       OR MV.nameMovie LIKE '%' + @keyword + '%') 
	   AND CAST(ST.showDateTime AS DATE) = CAST(GETDATE() AS DATE) 
	   AND HT.dateHis IN (
		SELECT MAX(dateHis)
		FROM HISTORY AS HT
		WHERE idST = ST.idST
    )
    ORDER BY ST.idST ASC 
	END
	ELSE -- Select list showtime from ... to ...
	BEGIN
	SELECT ST.idST, ST.idTic, ST.idMovie, ST.idStatus,MV.nameMovie, MV.img, MV.duration, RM.nameRoom,RM.idRoom, RM.idStatus AS statusRoom, TK.nameTic,ST.showDateTime
      FROM SHOWTIME AS ST
        INNER JOIN MOVIE AS MV ON ST.idMovie = MV.idMovie
        INNER JOIN TICKET AS TK ON ST.idTic = TK.idTic
        INNER JOIN HISTORY AS HT ON ST.idST = HT.idST 
        INNER JOIN ROOM AS RM ON HT.idRoom = RM.idRoom 
      WHERE  (ST.idST LIKE '%' + @keyword + '%' OR RM.nameRoom LIKE '%' + @keyword + '%'
       OR MV.nameMovie LIKE '%' + @keyword + '%')
	   AND CAST(showDateTime AS DATE) <= CAST(@end AS DATE) AND CAST(showDateTime AS DATE) >= CAST(@start AS DATE) 
	   AND HT.dateHis IN (
        SELECT MAX(dateHis)
        FROM HISTORY AS HT
        WHERE idST = ST.idST
      )
      ORDER BY ST.idST ASC 
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_LIST_STAFF]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_GET_LIST_STAFF]
AS
BEGIN
SELECT s.idStaff,s.name, s.phone, s.email, h.idPos, s.idStatus
FROM STAFF as s
LEFT JOIN STAFF_POS h ON s.idStaff  = h.idStaff
WHERE s.idStaff != 'SF00000001' and h.dayPro = (
    SELECT MAX(dayPro)
    FROM STAFF_POS
    WHERE idStaff = s.idStaff
)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_LICH_CHIEU_HOM_NAY]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_DS_LICH_CHIEU_HOM_NAY]

AS
BEGIN
	SELECT ST.idST, ST.idTic, ST.idMovie, ST.idStatus, MV.nameMovie, RM.nameRoom, TK.nameTic,ST.showDateTime
FROM SHOWTIME AS ST
	INNER JOIN MOVIE AS MV ON ST.idMovie = MV.idMovie
    INNER JOIN TICKET AS TK ON ST.idTic = TK.idTic
	INNER JOIN HISTORY AS HT ON ST.idST = HT.idST 
	INNER JOIN ROOM AS RM ON HT.idRoom = RM.idRoom 
WHERE CAST(ST.showDateTime AS DATE) = CAST(GETDATE() AS DATE) and HT.dateHis IN (
    SELECT MAX(dateHis)
    FROM HISTORY AS HT
    WHERE idST = ST.idST
)
ORDER BY ST.idST ASC 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_PHONG_TRONG]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LAY_PHONG_TRONG]
    @start DATETIME,
	@duration INT,
	@idST Nchar(10)
AS
BEGIN
    -- Chọn các phòng trống vào thời điểm mình chọn
    SELECT *
    FROM ROOM
    WHERE idStatus != 0 AND idRoom NOT IN (
        SELECT idRoom
        FROM HISTORY HT 
			INNER JOIN SHOWTIME ST ON HT.idST = ST.idST  AND ST.idStatus != 0
			INNER JOIN MOVIE MV ON MV.idMovie = ST.idMovie
        WHERE (ST.showDateTime = @start
            OR @start BETWEEN ST.showDateTime AND DATEADD(MINUTE, MV.duration +30, ST.showDateTime)			
			OR ST.showDateTime BETWEEN @start AND DATEADD(MINUTE, @duration + 30, @start))
		AND ST.idST != @idST AND HT.idStatus = 1 AND HT.dateHis = (SELECT MAX(dateHis) FROM HISTORY WHERE HT.idRoom = idRoom)
				--AND CAST(DATEADD(MINUTE, @duration + 15, @start) AS DATE) =  CAST(ST.showDateTime AS DATE)
    );
END;

SELECT *
FROM HISTORY
WHERE idStatus = 1 
GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCH_MOVIE]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SEARCH_MOVIE]
    @keyword NVARCHAR(100)
AS
BEGIN
	SELECT * 
	FROM MOVIE
	WHERE nameMovie LIKE '%' + @keyword + '%'
       OR idMovie LIKE '%' + @keyword + '%'
       OR proCountry LIKE '%' + @keyword + '%'
       OR preDate LIKE '%' + @keyword + '%'
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCH_ROOM]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SEARCH_ROOM]
    @keyword NVARCHAR(100)
AS
BEGIN
	SELECT * 
	FROM ROOM
	WHERE nameRoom LIKE '%' + @keyword + '%'
       OR idRoom LIKE '%' + @keyword + '%'
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCH_STAFF]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SEARCH_STAFF]
    @keyword NVARCHAR(100),
	@idBra NCHAR(10)
AS
BEGIN
	IF @idBra = ''
	BEGIN
	    SELECT s.idStaff,s.name, s.phone, s.email, s.address, s.citiIden, s.dateBirth,s.sex, s.idStatus, p.namePos, p.idPos, b.idBra, b.nameBra
		FROM STAFF as s
		LEFT JOIN STAFF_POS h ON s.idStaff  = h.idStaff 
		INNER JOIN POSITION p ON p.idPos = h.idPos
		INNER JOIN BRANCH b ON b.idBra = s.idBra
		WHERE (s.name LIKE '%' + @keyword + '%'
		   OR s.idStaff LIKE '%' + @keyword + '%') 
		   AND s.idStaff != 'SF00000001' 
		   AND h.dayPro = (
			SELECT MAX(dayPro)
			FROM STAFF_POS
			WHERE idStaff = s.idStaff
			)
		ORDER BY s.idStaff ASC
	END
	ELSE
	BEGIN
	    SELECT s.idStaff,s.name, s.phone, s.email, s.address, s.citiIden, s.dateBirth,s.sex, s.idStatus, p.namePos, p.idPos, b.idBra, b.nameBra
		FROM STAFF as s
		LEFT JOIN STAFF_POS h ON s.idStaff  = h.idStaff 
		INNER JOIN POSITION p ON p.idPos = h.idPos
		INNER JOIN BRANCH b ON b.idBra = s.idBra
		WHERE s.idBra = @idBra 
		   AND (s.name LIKE '%' + @keyword + '%'
		   OR s.idStaff LIKE '%' + @keyword + '%') 
		   AND s.idStaff != 'SF00000001' 
		   AND h.dayPro = (
			SELECT MAX(dayPro)
			FROM STAFF_POS
			WHERE idStaff = s.idStaff
			)
		ORDER BY s.idStaff ASC
	END
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCH_TICKET]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SEARCH_TICKET]
    @keyword NVARCHAR(100)
AS
BEGIN
    SELECT *
    FROM TICKET
    WHERE nameTic LIKE '%' + @keyword + '%'
       OR idTic LIKE '%' + @keyword + '%'
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_LICH_CHIEU_LICH_SU]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_LICH_CHIEU_LICH_SU]
	@idMovie Nchar(10),
	@idTic Nchar(10),
	@showDateTime Datetime,
	@idRoom Nchar(10)
AS
BEGIN
	INSERT INTO SHOWTIME(idMovie, idTic, showDateTime ,idStatus) VALUES (@idMovie, @idTic, @showDateTime, 2);
	SELECT idST FROM SHOWTIME ORDER BY idST DESC
	DECLARE @ma_suat_chieu Nchar(10);
    SET @ma_suat_chieu = SCOPE_IDENTITY();
	INSERT INTO HISTORY(idST, idRoom, idStatus) VALUES (@ma_suat_chieu, @idRoom, 1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_NHAN_VIEN]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_THEM_NHAN_VIEN] 
	@name nvarchar(50), 
	@dateBirth date, 
	@email varchar(50), 
	@citiIden char(12), 
	@phone char(12), 
	@address nvarchar(50),
	@sex bit,
	@pass varchar(200)
AS
BEGIN
	INSERT INTO STAFF (name, dateBirth, email, citiIden, phone, address, sex, idStatus,pass)
		values (@name, @dateBirth, @email, @citiIden, @phone, @address, @sex, 2, @pass)

	DECLARE @idStaff nchar(10)
	SELECT @idStaff = MAX(idStaff) 
	FROM STAFF

	INSERT INTO STAFF_POS(idStaff, idPos, idStatus) VALUES (@idStaff, 'PS00000003', 2)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_PHONG_GHE]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_PHONG_GHE]
	@idRoom nchar(10)
AS
BEGIN
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (1,'A',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (2,'A',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (3,'A',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (4,'A',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (5,'A',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (6,'A',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (7,'A',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (8,'A',@idRoom,1)

		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (1,'B',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (2,'B',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (3,'B',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (4,'B',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (5,'B',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (6,'B',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (7,'B',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (8,'B',@idRoom,1)

		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (1,'C',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (2,'C',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (3,'C',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (4,'C',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (5,'C',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (6,'C',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (7,'C',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (8,'C',@idRoom,1)

		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (1,'D',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (2,'D',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (3,'D',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (4,'D',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (5,'D',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (6,'D',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (7,'D',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (8,'D',@idRoom,1)

		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (1,'E',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (2,'E',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (3,'E',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (4,'E',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (5,'E',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (6,'E',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (7,'E',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (8,'E',@idRoom,1)

		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (1,'F',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (2,'F',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (3,'F',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (4,'F',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (5,'F',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (6,'F',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (7,'F',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (8,'F',@idRoom,1)

		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (1,'G',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (2,'G',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (3,'G',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (4,'G',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (5,'G',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (6,'G',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (7,'G',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (8,'G',@idRoom,1)

		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (1,'H',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (2,'H',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (3,'H',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (4,'H',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (5,'H',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (6,'H',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (7,'H',@idRoom,1)
		INSERT INTO [dbo].[SEAT] ([idSeat],[idRow],[idRoom],[idStatus]) VALUES (8,'H',@idRoom,1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_SHOWTIME_STATUS]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_SHOWTIME_STATUS]
		@idST Nchar(10),
		@duration Int
AS
BEGIN
	DECLARE @check Int
    SELECT @check = 
		CASE 
			WHEN idStatus = 0 THEN -2 
			WHEN (GETDATE() >  DATEADD(MINUTE, @duration + 30, showDateTime)) AND idStatus != 0  THEN -1
			WHEN (GETDATE() BETWEEN showDateTime  AND DATEADD(MINUTE, @duration + 30, showDateTime)) AND idStatus != 0 THEN 0 
			WHEN (GETDATE() < showDateTime) AND idStatus != 0 THEN 1 
		END
    FROM SHOWTIME 
    WHERE @idST = idST;
	
	IF @check = 0 -- Phim đang chiếu, chỉ được đổi phòng, không được hủy
	BEGIN
		UPDATE SHOWTIME SET idStatus = 1 WHERE idST = @idST
	END
	ELSE IF @check = 1 -- Phim sắp chiếu, được thay đổi toàn thông tin, được hủy
	BEGIN 
		UPDATE SHOWTIME SET idStatus = 2 WHERE idST = @idST
	END
	ELSE IF @check = -1 -- Phim đã chiếu xong, không được thay đổi gì hết 
	BEGIN
		UPDATE SHOWTIME SET idStatus = 3 WHERE idST = @idST
	END
	RETURN @check;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_STATUS_STAFF]    Script Date: 2023-10-07 12:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_STATUS_STAFF] 
	@idStaff nchar(10),
	@idStatus int,
	@idPos nchar(10),
	@idBra nchar(10)
AS
BEGIN
		UPDATE STAFF SET idStatus = @idStatus, idBra = @idBra where idStaff = @idStaff
		INSERT INTO STAFF_POS(idStaff, idPos, idStatus, idBra) VALUES (@idStaff,@idPos, @idStatus, @idBra)  
END
GO
USE [master]
GO
