.text-center {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  font-size: 16px;
  color: #fff;
}

.out-input {
  margin-top: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn-confirm {
  margin-top: 12px;
  border-radius: 30px;
  background-color: #23e312;
  /* transition: .2s; */
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  width: 130px;
  height: 50px;
}

.margin-frame {
  margin-top: 20px;
}

.frame-admin {
  flex-direction: row;
  display: flex;
}

.frame {
  height: 100vh;
  width: 100%;
  background-color: #d8eef4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame-inside {
  height: 650px;
  width: 1450px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll !important;
}

.header-list {
  margin: 30px 0px 0px 0px;
  display: flex;
  align-items: center;
}

.header-chart {
  margin: 30px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: IBM Plex Serif;
  font-size: 25px;
}

.search {
  height: 30px;
  border-radius: 10px;
  width: 400px;
  margin-left: 40px;
}

.btn-plus {
  margin-left: 60%;
  display: flex;
  border: none;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  color: #555353;
  width: 120px;
  font-size: 24px;
  font-family: IBM Plex Serif;
}

.btn-plus:hover {
  color: #2e85ec;
}

.icon-plus {
  font-size: 24px;
  margin-right: 20px;
}

.icon-action {
  font-size: 24px;
  color: #555353;
  margin-right: 10px;
}

.icon-action:hover {
  color: #2e85ec;
}

.btn-action {
  display: flex;
  border: none;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  color: #555353;
  font-size: 18px;
  margin: 5px;
  font-family: IBM Plex Serif;
}
table {
  font-family: IBM Plex Serif;
  border-collapse: collapse;
  width: 95%;
  font-size: 18px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #c5e2ec;
}

/* tr:nth-child(even) {
  background-color: #e71717;
} */

.frame-list {
  width: 100% - 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.frame-chart {
  width: 100% - 100px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  height: 100%;
}
